{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="container">
        <br>
        <h1 class="header center blue-text">LSINF1252</h1>
    </div>
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
          <div>
              <h4> Ici est la légende</h4>
          </div>
      </div>

      <div class="col s9">
        <!-- Teal page content  -->
          <div class="container">
              <h4>
                  ici sera le graph
              </h4>
              <canvas id="myChart"></canvas>
              <script>
                  var ctx = document.getElementById('myChart').getContext('2d');
                  var chart = new Chart(ctx, {
                      // The type of chart we want to create
                      type: 'line',
                      //The data for our dataset
                      data: {
                          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                          datasets: [{
                              label: 'My First dataset',
                              backgroundColor: 'rgb(255, 99, 132)',
                              borderColor: 'rgb(255, 99, 132)',
                              data: [0, 10, 5, 2, 20, 30, 45]
                          }]
                      },
                      // Configuration options go here
                      options: {}
                  });
              </script>
          </div>
      </div>

    </div>


{% endblock %}