<!doctype html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- jquery link for some function -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- css link (the css file is empty for the moment) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- chart.js link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- This is the navbar -->
    <nav class="blue lighten-1">
        <div class="container">
            <a href="/" class="brand-logo"><i class="material-icons">trending_up</i>IngiGraph</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
            <ul  class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="cours.html">Cours</a></li>
            </ul>
        </div>
    </nav>
    <!-- This is the resize structuration. Menu for the mobile view -->
    <ul class="sidenav" id="mobile-links">
        <li><a href="/">Home</a> </li>
        <li><a href="cours.html">Cours</a> </li>
    </ul>
    <!-- function for the menu in mobile view-->
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();

        })
    </script>
    <!-- head of the current page-->
    {% block head %} {% endblock %}
</head>

<body>
    <!-- body of the current page-->
    {% block body%} {% endblock %}
</body>
</html>