{% extends 'base.html'%}


{% block head %}
{% endblock %}

{% block body%}
    <style>
        .bc
{
    background-image: linear-gradient( #42a5f5, #90caf9);
}
</style>
    <div class="bc">
    <br>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center white-text">IngiGraph</h1>
            <div class="row center">
                <h5 class="header cpm s12 light white-text">Un logiciel vous renvoyant tout les graphs des soumissions d'Inginious !</h5>
            </div>
            <div class="row center">
                <a href="cours.html" id="dwnload-button" class="btn-large waves-effect waves-light blue">Cours</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    </div>
    <div class="container">
        <section class="section">
            <!-- section milieu-bas-->
            <br>
            <br>
            <div>
                <h1 class="title">Qu'est-ce ?</h1>
                <h2 class="subtitle">
                    <strong>IngiGraph est un site web permettant de visualiser les statistiques tirées d'Ingnious, sous forme de graphiques.</strong>
                </h2>
            </div>
        </section>
        <section class="section">
            <h1 class="title">Inginious en quelques données</h1>
            <h2 class="subtitle">
                Voici quelques statistiques provenant de notre base de données concernant Inginious.
            </h2>
            <div class="row">
                <div class="col s12 m6 l3">
                    <p class="heading">Nombres d'étudiants</p>
                    <p class="title">3K</p>
                </div>
                <div class="col s12 m6 l3">
                    <p class="heading">Exercices disponible</p>
                    <p class="title">234</p>
                </div>
                <div class="col s12 m6 l3">
                    <p class="heading">Cours disponible</p>
                    <p class="title">50</p>
                </div>
                <div class="col s12 m6 l3">
                    <p class="heading">Total de soumissions</p>
                    <p class="title">800K</p>
                </div>
            </div>
    </section>
    </div>
    <footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col 16 s12">
                <h5>Objectif de ce site</h5>
                <p class="grey-text text-lighten-4">
                    Ce site à été fait dans le cadre d'un projet (P2) en Sciences Informatique à l'EPL. Son but est de rendre des données, provenant d'une database sqlite,
                    sous forme de graphique avec le framework Chart.js.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Fait par
            <a class="grey-text text-lighten-3">Alexandre Verlaine - Iris Denayer - Béatrice Lambert</a>
        </div>
    </div>
    </footer>
{% endblock %}

