{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center blue-text">Les cours à visualiser</h1>
            <div class="row center">
                <h5 class="header cpm s12 light">Cliquez sur le bouton correspondant à la visualisation désirée</h5>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
    <!-- COURS 1 -->
        <br>
        <br>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
              <div class="col s12 m6 l3">
                  <p class="flow-text">LSINF1252</p>
              </div>
              <div class="col s12 m6 l3"><a href="cours1_G1.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Soumissions par excercice</a></div>
              <div class="col s12 m6 l3"><a href="cours1_G2.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Précision sur un exercice</a></div>
              <div class="col s12 m6 l3"><a href="cours1_G3.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Entre deux périodes</a></div>
          </div>
        </div>
        </div>
        <br>
        <br>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 m6 l3">
                        <p class="flow-text">LEPL1402</p>
                    </div>
                    <div class="col s12 m6 l3"><a href="cours2_G1.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Soumissions par excercice</a></div>
                    <div class="col s12 m6 l3"><a href="cours2_G2.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Précision sur un exercice</a></div>
                    <div class="col s12 m6 l3"><a href="cours2_G3.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Entre deux périodes </a></div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 m6 l3">
                        <p class="flow-text">LSINF1101</p>
                    </div>
                    <div class="col s12 m6 l3"><a href="cours3_G1.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Soumissions par excercice</a></div>
                    <div class="col s12 m6 l3"><a href="cours3_G2.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Précision sur un exercice</a></div>
                    <div class="col s12 m6 l3"><a href="cours3_G3.html" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Entre deux périodes</a></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}